{{#each this}}
  <li class='events__item'>
    <article class='event' data-event_id='{{this.id}}'>
      <div class='event__photo'>
        {{#if this.poster.url}}
          <img
            class='event__img'
            src='{{this.poster.url}}'
            alt='Постер {{this.name}}'
          />
        {{else}}
          <img
            class='event__img'
            {{! В наступному рядку підключити дефолтне зображення, коли постер, що дає бекенд не підходить }}
            src='./images/main/default-image.jpg'
            alt='Постер {{this.name}}'
          />
        {{/if}}
      </div>
      <h2 class='event__title'>{{this.name}}</h2>
      <time
        class='event__date'
        date-time-local='{{this.dates.start.localDate}}'
      >{{this.dates.start.localDate}}</time>
      <div class='event__place'>
        {{#if this.place}}
          <p class='event__text correct-text'>{{this.place}}</p>
        {{else}}
          <p class='event__text'>Уточнюйте місце проведення в промоутера</p>
        {{/if}}
      </div>
    </article>
  </li>
{{/each}}