<div class='modal'>
  <button class='modal__close'>
    {{! <img src='/src/images/modal/close.svg' alt='X' class='modal__close-icon' /> }}
  </button>
  <div class='modal__icon-container'>
    {{#if this.logo.url}}
      <img
        class='event__logo'
        src='{{this.logo.url}}'
        alt='Постер {{this.name}}'
      />
    {{else}}
      <img
        class='modal__logo'
        {{! В наступному рядку підключити дефолтне зображення, коли постер, що дає бекенд не підходить }}
        src='default-image-url.jpg'
        alt='Постер {{this.name}}'
      />
    {{/if}}
  </div>
  <div class='modal__main'>
    <div class='modal__photo'>
      {{#if this.poster.url}}
        <img
          class='modal__img'
          src='{{this.poster.url}}'
          alt='Постер {{this.name}}'
        />
      {{else}}
        <img
          class='modal__img'
          {{! В наступному рядку підключити дефолтне зображення, коли постер, що дає бекенд не підходить }}
          src='default-image-url.jpg'
          alt='Постер {{this.name}}'
        />
      {{/if}}
    </div>
    <ul class='modal__information'>
      <li class='modal__categoris'>
        <h2 class='modal__category'>INFO</h2>
        {{#if this.info}}
          <p class='modal__text modal__text--info'>
            {{this.info}}
          </p>
        {{else}}
          <p class='modal__text'>
            ---
          </p>
        {{/if}}

      </li>
      <li class='modal__categoris'>
        <h2 class='modal__category'>WHEN</h2>
        <div class='modal__text-container'>
          <p class='modal__text'>{{this.time.start.localDate}}</p>
          <p class='modal__text'>{{this.time.start.localTime}}
            {{this.time.timezone}}</p>
        </div>
      </li>
      <li class='modal__categoris'>
        <h2 class='modal__category'>WHERE</h2>
        <div class='modal__text-container'>
          <p class='modal__text'>{{this.city.name}}, {{this.country.name}}</p>
          <p class='modal__text'>{{this.place}}</p>
        </div>
      </li>
      <li class='modal__categoris'>
        <h2 class='modal__category'>WHO</h2>
        <p class='modal__text'>{{this.name}}</p>
      </li>
      <li class='modal__categoris'>
        <h2 class='modal__category'>PRICES</h2>
        <div class='modal__tickets'>
          <div class='modal__ticket'>
            <p class='modal__price'>Standart
              {{this.pricesStandarMin}}-{{this.pricesStandarMax}}
              {{this.currency}}</p>
            <a href='{{this.url}}' class='modal__buy'>BUY TICKETS</a>
          </div>
          <div class='modal__ticket'>
            <p class='modal__price'></p>
            <a href='{{this.url}}' class='modal__buy'>BUY TICKETS</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <a href='{{this.url}}' class='modal__more'>MORE FROM THIS AUTHOR</a>
</div>

{{! вже під час роботи с js будуть добавленні назви властивостей }}